<launch>
    <include file="$(find rover_description)/launch/view_robot_no_rviz.launch"/>
    <node name="can_receive_node" pkg="can_ros1_driver" type="can_receive_node" output="screen">
        <!-- wheel base -->
        <param name="wheel_base" value="1.04"/>
        <!-- wheel diameter -->
        <param name="wheel_diameter" value="0.6096"/>
        <!-- publish tf -->
        <param name="publish_tf" value="true"/>
    </node>
    <!-- node for IMU serial -->
    <node name="imu_serial" pkg="imu_driver" type="serial_imu" output="screen">
        <param name="serial_port" value="/dev/ttyUSB0"/>
    </node>
    <!-- node for GPS serial -->
    <node name="gps_serial" pkg="gps_driver" type="gps_node" output="screen" respawn="false">
        <!-- Specify the configuration file -->
        <param name="serial_port" value="/dev/ttyUSB1"/>
        <param name="baud_rate" value="921600"/>
    </node>
    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find can_ros1_driver)/rviz/can_receive_with_model.rviz" required="true"/>

</launch>

